@plugin '@tailwindcss/typography';

@layer base {
  .app-prose h2 {
    font-size: 1.5rem;
  }

  .app-prose h3 {
    font-size: 1.25rem;
  }
  .app-prose {
    @apply prose;

    h1,
    h2,
    h3,
    h4,
    th {
      @apply mb-3 text-foreground font-semibold tracking-tight;
      font-style: normal;
    }

    p,
    strong,
    ol,
    ul,
    figcaption,
    table,
    code {
      @apply text-foreground;
    }

    p {
      @apply leading-7 text-[16px];
    }

    strong {
      @apply font-semibold;
    }

    /* ===== 链接 ===== */
    a {
      @apply break-words text-accent decoration-dashed underline-offset-4 hover:opacity-80;
    }

    /* ===== 列表 ===== */
    ul {
      @apply overflow-x-clip;
    }

    li {
      @apply marker:text-accent leading-7;
    }

    /* ===== 分割线 ===== */
    hr {
      @apply border-border;
    }

    /* ===== 图片 ===== */
    img {
      @apply mx-auto border border-border rounded-lg;
    }

    figcaption {
      @apply opacity-70 text-sm;
    }

    /* ===== 表格 ===== */
    table {
      th,
      td {
        @apply border border-border p-2;
      }

      th {
        @apply py-2 font-semibold;
      }

      code {
        @apply break-all sm:break-normal;
      }
    }

    code { @apply rounded bg-muted/75 p-1 break-words text-foreground before:content-none after:content-none; } 
    .astro-code code { @apply bg-inherit p-0; } 
    blockquote { @apply border-s-accent/80 break-words opacity-80; } 
    details { @apply inline-block cursor-pointer text-foreground select-none [&_p]:hidden [&_ul]:!my-0; } 
    summary { @apply focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-offset-1 focus-visible:outline-accent focus-visible:outline-dashed; } 
    pre { @apply focus-visible:border-transparent focus-visible:outline-2 focus-visible:outline-accent focus-visible:outline-dashed; } }
     /* ===== Code Blocks & Syntax Highlighting ===== */ 
    .astro-code { @apply border bg-(--shiki-light-bg) text-(--shiki-light) outline-border [&_span]:text-(--shiki-light); } 
    html[data-theme="dark"] 
    .astro-code { @apply bg-(--shiki-dark-bg) text-(--shiki-dark) [&_span]:text-(--shiki-dark); }
    /* Styles for Shiki transformers */ /* https://shiki.style/packages/transformers */ 
    .astro-code { .line.diff.add { @apply relative *:bg-green-500/20 before:absolute before:-left-3 before:text-green-500 before:content-['+']; } 
    .line.diff.remove { @apply relative *:bg-red-500/30 before:absolute before:-left-3 before:text-red-500 before:content-['-']; } 
    .line.highlighted { @apply *:!bg-slate-400/20; } 
    .highlighted-word { @apply rounded-sm border border-border px-0.5 py-px; } }
}