@plugin '@tailwindcss/typography';

@layer base {
  .app-prose h2 {
    font-size: 1.5rem;
  }

  .app-prose h3 {
    font-size: 1.25rem;
  }
  .app-prose {
    @apply prose;

    h1,
    h2,
    h3,
    h4,
    th {
      @apply mb-3 text-foreground font-semibold tracking-tight;
      font-style: normal;
    }

    p,
    strong,
    ol,
    ul,
    figcaption,
    table,
    code {
      @apply text-foreground;
    }

    p {
      @apply leading-7 text-[16px];
    }

    strong {
      @apply font-semibold;
    }

    /* ===== 链接 ===== */
    a {
      @apply break-words text-accent decoration-dashed underline-offset-4 hover:opacity-80;
    }

    /* ===== 列表 ===== */
    ul {
      @apply overflow-x-clip;
    }

    li {
      @apply marker:text-accent leading-7;
    }

    /* ===== 分割线 ===== */
    hr {
      @apply border-border;
    }

    /* ===== 图片 ===== */
    img {
      @apply mx-auto border border-border rounded-lg;
    }

    figcaption {
      @apply opacity-70 text-sm;
    }

    /* ===== 表格 ===== */
    table {
      th,
      td {
        @apply border border-border p-2;
      }

      th {
        @apply py-2 font-semibold;
      }

      code {
        @apply break-all sm:break-normal;
      }
    }

    /* ===== 行内代码 ===== */
    code {
      @apply rounded bg-muted/60 px-1.5 py-0.5 text-[14px];
      font-family: "JetBrains Mono", "Fira Code", monospace;
    }

    .astro-code code {
      @apply bg-inherit p-0;
    }

    /* ===== 引用 ===== */
    blockquote {
      @apply border-s-4 border-accent pl-4 opacity-90;
    }

    /* ===== 折叠 ===== */
    details {
      @apply inline-block cursor-pointer select-none [&_p]:hidden [&_ul]:!my-0;
    }

    summary {
      @apply focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-accent focus-visible:outline-dashed;
    }

    /* ===== 代码块 ===== */
    pre {
      @apply rounded-lg p-4;
    }
  }
}